<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ads-advertiser-<%%VALUE(id)%%>" class=""><%%VALUE(advertiser)%%></td>
		<td id="ads-adName-<%%VALUE(id)%%>" class=""><%%VALUE(adName)%%></td>
		<td id="ads-image-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(image)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(image)%%>&t=ads&f=image&v=tv" class="img-thumbnail"></a></td>
		<td id="ads-code-<%%VALUE(id)%%>" class=""><%%VALUE(code)%%></td>
		<td id="ads-text-<%%VALUE(id)%%>" class=""><%%VALUE(text)%%></td>
		<td id="ads-active-<%%VALUE(id)%%>" class=""><%%VALUE(active)%%></td>
		<td id="ads-StartDate-<%%VALUE(id)%%>" class=""><%%VALUE(StartDate)%%></td>
		<td id="ads-EndDate-<%%VALUE(id)%%>" class=""><%%VALUE(EndDate)%%></td>
		<td id="ads-catagory-<%%VALUE(id)%%>" class=""><%%VALUE(catagory)%%></td>
