<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="advertisers-Name-<%%VALUE(id)%%>" class=""><%%VALUE(Name)%%></td>
		<td id="advertisers-AffilateCode-<%%VALUE(id)%%>" class=""><%%VALUE(AffilateCode)%%></td>
		<td id="advertisers-URL-<%%VALUE(id)%%>" class=""><%%VALUE(URL)%%></td>
		<td id="advertisers-Contact-<%%VALUE(id)%%>" class=""><%%VALUE(Contact)%%></td>
		<td id="advertisers-email-<%%VALUE(id)%%>" class=""><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
