<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="media-type-<%%VALUE(id)%%>" class=""><%%VALUE(type)%%></td>
		<td id="media-title-<%%VALUE(id)%%>" class=""><%%VALUE(title)%%></td>
		<td id="media-artist-<%%VALUE(id)%%>" class=""><%%VALUE(artist)%%></td>
		<td id="media-condition-<%%VALUE(id)%%>" class=""><%%VALUE(condition)%%></td>
		<td id="media-image-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(image)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(image)%%>&t=media&f=image&v=tv" class="img-thumbnail"></a></td>
		<td id="media-image2-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(image2)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(image2)%%>&t=media&f=image2&v=tv" class="img-thumbnail"></a></td>
		<td id="media-price-<%%VALUE(id)%%>" class="text-right"><%%VALUE(price)%%></td>
		<td id="media-active-<%%VALUE(id)%%>" class="text-right"><%%VALUE(active)%%></td>
		<td id="media-description-<%%VALUE(id)%%>" class=""><%%VALUE(description)%%></td>
		<td id="media-buttoncode-<%%VALUE(id)%%>" class=""><%%VALUE(buttoncode)%%></td>
		<td id="media-buttonactive-<%%VALUE(id)%%>" class="text-right"><%%VALUE(buttonactive)%%></td>
		<td id="media-date-<%%VALUE(id)%%>" class=""><%%VALUE(date)%%></td>
