<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="owners-name-<%%VALUE(id)%%>" class=""><%%VALUE(name)%%></td>
		<td id="owners-pass-<%%VALUE(id)%%>" class=""><%%VALUE(pass)%%></td>
		<td id="owners-level-<%%VALUE(id)%%>" class="text-right"><%%VALUE(level)%%></td>
		<td id="owners-image-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(image)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(image)%%>&t=owners&f=image&v=tv" class="img-thumbnail"></a></td>
